<div class="playlist__directory">
  <p {{action 'hideNavigation'}} class="hamburger">{{fa-icon "bars"}}</p>
  <h3>Playlist:</h3>
  <div class="playlist__folders">
    {{#if addNewFile}}
      <div class="playlist__add">
        <input onkeyup={{action "addNewFolder" }} autofocus="true" class="playlist__input" type="text" name="name" placeholder="Playlist">
      </div>
    {{/if}}
    <ul class="playlist__list">
      {{#each directories as |folder| }}
      <li {{action 'selectFolder' folder}}class="playlist__item {{eq folder directory 'playlist__directory__active'}}">
        {{fa-icon "music"}}
        <p>{{folder}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div>
  <div {{action "addFolder" }} class="playlist__create">
    <div class="playlist__icon">
      {{fa-icon "plus"}}
    </div>
    <p class="playlist__text"> New </p>
  </div>

  <div class="audio__thumbnail">
    <img src={{image}} />
  </div>
</div>
