<div class="audio__playlist__header">
  <p>SONG</p>
  <p class="isMobile">ARTIST</p>
  <p class="isMobile">ALBUM</p>
  <p class="isMobile">DATE</p>
</div>
<div class="audio__playlist__body">
  {{#each playlist as |track index|}}
    <div onclick={{action 'selectTrack' index}}
      oncontextmenu={{action 'showDialog' track target=this}}
      class="audio__playlist__item {{eq index playing 'active__track'}}"  >
      <p>{{truncate-text track.title 15}}</p>
      <p class="isMobile" >{{truncate-text track.artist 15}}</p>
      <p class="isMobile" >{{truncate-text track.album 15}}</p>
      <p class="isMobile" >{{moment-from-now track.date}}</p>
    </div>
  {{/each}}
</div>
