<main>
  {{audio-navigation
    directory=directory
    directories=directories
    createFolder="createFolder"
    changeDirectory="changeDirectory"
  }}

  <div class="audio__playlist">
    <div class="audio__playlist__controls">
      {{track-filter filterTracks="filterTracks"}}
      {{#file-picker dropzone=true preview=false fileLoaded="fileLoaded"}}
        Drag track
      {{/file-picker}}
    </div>
    {{audio-playlist changeTrack="changeTrack" playlist=tracks playing=model.playing}}
  </div>
</main>
{{audio-player
    newTrack=newTrack
    playlist=all-tracks
    playing=model.playing
    keyboardActivated=true
    }}
{{outlet}}

{{#if isLoading}}
  {{ember-spinner config='standard'}}
  <div class="black"></div>
{{/if}}
