<div class="audio__playlist__controls">
  <div {{action 'showNavigation'}} class="hamburger">{{fa-icon "bars"}}</div>
  {{track-filter filterTracks="filterTracks"}}
  {{#user-dropdown user=model.user}}
    {{#link-to "user" }} User {{/link-to}}
    <a {{action 'logOut' }} >Log out</a>
  {{/user-dropdown}}
</div>
<main>
  {{audio-navigation
    directory=directory
    directories=directories
    thumbnail=playing.thumbnail
    createFolder="createFolder"
    changeDirectory="changeDirectory"
    hideNavigation="hideNavigation"
    toggleNav=showNavigation
  }}

  <div class="audio__playlist">
    {{#file-picker selectOnClick=false dropzone=true preview=false
      fileLoaded="fileLoaded"
      content=this dragStartAction='myStartAction' dragEndAction='myEndAction'}}

      {{audio-playlist
        playlist=tracks
        playing=playing
        changeTrack="changeTrack"
        showProperty="showProperty"
      }}
    {{/file-picker}}
  </div>
</main>
  {{audio-player
    playlist=tracks
    playing=playing
    keyboardActivated=true
  }}

{{outlet}}

{{#if isLoading}}
  {{ember-spinner config='standard'}}
  <div class="black"></div>
{{/if}}
