<div class="audio__playlist__controls">
  <p {{action 'showNavigation'}}class="hamburger">{{fa-icon "bars"}}</p>
  {{track-filter filterTracks="filterTracks"}}
  {{#user-dropdown user=model.user}}
    {{#link-to "user" class="button-link"}} User {{/link-to}}
    <button {{action 'logOut' }} type="button" class="log-out" name="button">Log out</button>
  {{/user-dropdown}}
</div>
<main>
  {{audio-navigation
    directory=directory
    directories=directories
    createFolder="createFolder"
    changeDirectory="changeDirectory"
    hideNavigation="hideNavigation"
    toggleNav=showNavigation
  }}

  <div class="audio__playlist">
    {{#file-picker selectOnClick=false dropzone=true preview=false
      fileLoaded="fileLoaded"
      content=this dragStartAction='myStartAction' dragEndAction='myEndAction'}}

      {{audio-playlist
        changeTrack="changeTrack"
        playlist=tracks
        playing=model.playing
        showProperty="showProperty"
      }}
    {{/file-picker}}
  </div>
</main>
  {{audio-player
    newTrack=newTrack
    playlist=all-tracks
    playing=model.playing
    keyboardActivated=true
  }}

{{outlet}}

{{#if isLoading}}
  {{ember-spinner config='standard'}}
  <div class="black"></div>
{{/if}}
