<div class="audio__playlist__controls">
  {{track-filter filterTracks="filterTracks"}}
  <button {{action 'logOut' }} type="button" class="log-out" name="button">Log out</button>
</div>
<main>
  {{audio-navigation
    directory=directory
    directories=directories
    createFolder="createFolder"
    changeDirectory="changeDirectory"
  }}

  <div class="audio__playlist">
    {{#file-picker selectOnClick=false dropzone=true preview=false fileLoaded="fileLoaded"}}
      {{audio-playlist changeTrack="changeTrack" playlist=tracks playing=model.playing}}
    {{/file-picker}}
  </div>
</main>
  {{audio-player
    newTrack=newTrack
    playlist=all-tracks
    playing=model.playing
    keyboardActivated=true
  }}

{{outlet}}

{{#if isLoading}}
  {{ember-spinner config='standard'}}
  <div class="black"></div>
{{/if}}
