<main>
  {{audio-navigation}}
  <div class="audio__playlist">
    <h2 class="audio__playlist__title">Play list:</h2>
    {{track-filter class="audio__playlist__filter" filterTracks="filterTracks"}}
    {{audio-playlist playlist=tracks playing=model.playing}}
    {{#file-picker dropzone=true preview=false fileLoaded="fileLoaded"}}
      Drop zone
    {{/file-picker}}
  </div>
</main>
{{audio-player playlist=tracks playing=model.playing class='video__player'}}
{{outlet}}
