<div class="card">
  <div class="form-control">
    <h1>Register:</h1>
  </div>
  <div class="form-control">
    <label for="">Email:</label>
    {{input type="input" name="name" value=email}}
  </div>
  <div class="form-control">
    <label for="">Password:</label>
    {{input type="password" name="name" value=password}}
  </div>
  <div class="form-control">
    <label for="">Re-assword:</label>
    {{input type="repassword" name="name" value=repassword}}
  </div>
  <div class="form-control">
      <button {{action 'registerUser'}} type="button" name="button">Register</button>
  </div>
</div>
{{outlet}}
